groot:
  access_key: 'GROOT_ACCESS_KEY'
  host: 'http://localhost:8000'
  ad_host: ''
  ad_access_token: 'AD_ACCESS_TOKEN'

database:
  user: root
  password: ""
  hostname: localhost
  name: groot_user_service

test_database:
  user: root
  password: ""
  hostname: localhost
  name: groot_user_service_test