groot:
  access_key: 'GROOT_ACCESS_KEY'
  host: 'http://localhost:8000'

development_db:	
  user: root
  password: ""
  hostname: localhost
  name: groot_user_service_dev

test_db:	
  user: root
  password: ""
  hostname: localhost
  name: groot_user_service_test